[Unit]
Description=Stream Publisher (BME688 -> MQTT)
After=mosquitto.service
Wants=network-online.target

[Service]
Type=simple

# Adjust these:
#User=pi
#Group=pi
WorkingDirectory=/opt/bme

# Run using the venv interpreter
ExecStart=/bin/bash /opt/bme/bme-publisher.sh

Restart=on-failure
RestartSec=2
Environment=PYTHONUNBUFFERED=1

# Optional: send stdout/stderr to journal (default anyway)
StandardOutput=journal
StandardError=journal
StandardInput=stdin

[Install]
WantedBy=multi-user.target
